# Created by https://www.toptal.com/developers/gitignore/api/react,vercel
# Edit at https://www.toptal.com/developers/gitignore?templates=react,vercel

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

### Vercel ###
.vercel

### Enviroment ###
.env

### Jest ###
coverage

### dist ###
dist

# End of https://www.toptal.com/developers/gitignore/api/react,vercel
# Local Netlify folder
.netlify
