@import "@styles/vars";

.Button {
  padding: 4px 8px;
  border-radius: 12px;
  background: $background-convex;
  box-shadow: $box-shadow-convex;

  &:hover,
  &:focus {
    background: $background-concave;
    box-shadow: $box-shadow-concave;
  }

  &:active {
    background: $background-pressed;
    box-shadow: $box-shadow-pressed;
  }

  &.flat {
    background: transparent;
    box-shadow: none;

    &:hover,
    &:focus {
      background: transparent;
      box-shadow: none;
    }

    &:active {
      background: $background-pressed;
      box-shadow: $box-shadow-pressed;
    }
  }

  &.primary {
    background: $background-primary-convex;
    color: $color-white;

    &:hover,
    &:focus {
      background: $background-primary-concave;
    }

    &:active {
      background: $background-primary-pressed;
      box-shadow: $box-shadow-primary-pressed;
    }
  }
}
