@import "@styles/vars";

.CommentList {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: $lg;
  }
}
