@import "@styles/vars";

.Header {
  display: flex;
  justify-content: space-between;

  &__home {
    margin: auto 0 auto $md;
  }

  nav {
    ul {
      display: flex;
      justify-content: end;

      li {
        margin: auto 0;
        padding: $md;
        list-style: none;
      }
    }
  }
}
